<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="https://www.udemy.com"> The Complete Ruby on Rails Developer</a>
			by <a href="https://www.mashrurhossain.com/"> Mashrur Hossain - Aluno (Student) Paulo de Tarso Jr. Bezerra</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to 'About', about_path %></li>
			</ul>
		</nav>

	</footer>
</div>